[
      {
        "labels": {
          "name": "Name"
        },
        "targets": [
          "IP:9100"
        ]
      },
      {
        "labels": {
          "name": "Name"
        },
        "targets": [
          "IP:9100"
        ]
      }
    ]
